<!DOCTYPE html>
<html lang="en">
<head>
  <title>Device Gyroscope Data</title>
</head>
<body>
  <h1>Device Gyroscope Data</h1>
  <button id="start-button">Allow Access to Sensors</button>
  <div class="data" id="alpha">Alpha: 0</div>
  <div class="data" id="beta">Beta: 0</div>
  <div class="data" id="gamma">Gamma: 0</div>
  <div class="data" id="gyro-x">Gyroscope X: 0</div>
  <div class="data" id="gyro-y">Gyroscope Y: 0</div>
  <div class="data" id="gyro-z">Gyroscope Z: 0</div>

  <script src = "../static/serve.js"></script>
</body>
</html>
